@font-face {
  font-family: 'NS Sans';
  src: url('./fonts/nssans-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'NS Sans';
  font-weight: bold;
  src: url('./fonts/nssans-bold.woff2') format('woff2');
}

html {
  scroll-behavior: smooth;
}

body {
  --1: #e6e6e8;
  --2: white;
  --2-heading: #003082;
  --2-text-a: #252528;
  --2-text-b: #6A6A7A;
  --3: #003082;
  --3-text: white;
  --4: #001740;
  --4-text: white;
  --button-a: #FFC917;
  --button-a-hover: #FFB519;
  --button-b: #F0F1F2;
  --button-b-hover: #EBEBEE;
  --button-text: #003082;
  --form-border: #C4C5CB;
  font-size: 16px;
  font-family: 'NS Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
  background-color: var(--1);
}

nav {
  position: sticky;
  top: 0;
  background-color: var(--3);
  padding: 15px;
  z-index: 1;

  > * {
    margin: 0;
    color: var(--3-text);
  }
}

form {
  width: clamp(40%, 600px, 100%);
  margin-left:  auto;
  margin-right: auto;
  padding: 1rem;
  background-color: var(--2);
  color: var(--2-text-a);

  > :first-child {
    margin-top: 0;
  }

  fieldset {
    padding: 0;
    margin: 0;
    border: 0;
  }

  fieldset > legend,
  h1, h2 {
    font-weight: bold;
    color: var(--2-heading);
  }
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.4rem;
  }

  .step {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-top: 0.6rem;
    /* TODO: add margin before nested steps */
    margin-bottom: 0.6rem;
    opacity: 1;
    transition: opacity 1s;
    
    /* hide steps when skipped or nothing checked */
    &:not(:has(> label > :checked:not([data-skip]))) > .step {
      display: none;
    }

    @starting-style {
      opacity: 0;
    }

    > :first-of-type {
      margin-top: 0.6rem;
    }
  }

  label, input[type='radio'] {
    cursor: pointer;
  }

  /* required */
  label:has([required]) > span,
  fieldset:has([required]) > legend {
    &::after {
      content: '*';
      color: red;
    }
  }
  
  input:where(
    [type='text'],
    [type='email'],
    [type='number'],
    [type='tel'],
    [type='date']
  ) {
    min-height: 50px;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid var(--form-border);
    color: var(--2-text-a);
    font-size: 1em;
    font-family: inherit;

    /* validation */
    &:user-invalid:not(:focus) {
      /* after blur if not typing */
      border: 1px solid red;
      background-color: #FF000010;
    }
    &:valid:not(:placeholder-shown) {
      /* always if has text */
      border: 1px solid lime;
      background-color: #00FF0010;
    }
  }

  
  .buttons {
    display: flex;
    gap: 16px;
    justify-content: space-between;

    > * {
      all: unset;
      display: block;
      flex: 1;
      min-height: 50px;
      padding-left:  16px;
      padding-right: 16px;
      border-radius: 6px;
      align-content: center;
      text-align: center;
      background-color: var(--button-b);
      color: var(--button-text);
      font-weight: bold;
      cursor: pointer;

      &:hover:not(:active) {
        background-color: var(--button-b-hover);
      }
    }

    > [type='submit'] {
      background-color: var(--button-a);

      &:hover:not(:active) {
        background-color: var(--button-a-hover);
      }
    }
  }
}


* {
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}