body {
  --a: #e6e6e8;
  --b: #ffffff;
  --b-heading: #003082;
  --b-text: #6a6a7a;
  --c: #003082;
  --c-text: #ffffff;
  --d: #001740;
  --d-text: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}

.top-bar {
  position: sticky;
  top: 0;
  background-color: var(--c);
  padding: 15px;
}
.top-bar > * {
  color: var(--c-text);
  margin: 0;
}

ol.lettered {
  list-style-type: lower-alpha;
}

ol > *,
dl > * {
  margin-top: 16px;
}

label:has(> input[type="radio"]),
:not(label) > input[type="radio"] {
  display: block;
}

@media only screen and (min-width: 800px) {
  dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  dt {
    grid-column-start: 1;
  }
  dd {
    grid-column-start: 2;
  }
}


* {
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}