@font-face {
  font-family: 'NS Sans';
  src: url('fonts/nssans-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'NS Sans';
  font-weight: bold;
  src: url('fonts/nssans-bold.woff2') format('woff2');
}

body {
  --1: #e6e6e8;
  --2: #ffffff;
  --2-heading: #003082;
  --2-text-a: #000000;
  --2-text-b: #6a6a7a;
  --3: #003082;
  --3-text: #ffffff;
  --4: #001740;
  --4-text: #ffffff;
  font-family: 'NS Sans', 'Segoe UI', sans-serif;
  background-color: var(--1);
}

.top-bar {
  position: sticky;
  top: 0;
  background-color: var(--3);
  padding: 15px;
  z-index: 1;
}
.top-bar > * {
  margin: 0;
  color: var(--3-text);
}

form {
  width: clamp(50%, 800px, 100%);
  margin-left:  auto;
  margin-right: auto;
  background-color: var(--2);
}
form > * {
  color: var(--2-text-a);
}

form ol li ol {
  list-style-type: lower-alpha;
}

label, input[type='radio'] {
  cursor: pointer;
}

.multi-label {
  padding: 0;
  margin: 0;
  border: 0;
}
form li > *,
.multi-label {
  padding-top:    8px;
  padding-bottom: 8px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

form .skip {
  text-decoration: line-through;
  opacity: 0.4;
  pointer-events: none;
  user-select: none;
}

input[type="text"][required]:invalid,
input[type="number"][required]:invalid,
input[type="tel"][required]:invalid {
  border: 1px solid red;
  background-color: #FF000010;
}
input[type="text"][required]:valid,
input[type="number"][required]:valid,
input[type="tel"][required]:valid {
  border: 1px solid lime;
  background-color: #00FF0010;
}


* {
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}