body {
  --a: #e6e6e8;
  --b: #ffffff;
  --b-heading: #003082;
  --b-text: #6a6a7a;
  --c: #003082;
  --c-text: #ffffff;
  --d: #001740;
  --d-text: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--a);
}

.top-bar {
  position: sticky;
  top: 0;
  background-color: var(--c);
  padding: 15px;
  z-index: 1;
}

.top-bar > * {
  color: var(--c-text);
  margin: 0;
}

form {
  width: clamp(50%, 800px, 100%);
  margin-left:  auto;
  margin-right: auto;
  background-color: var(--b);
}

form ol li ol {
  list-style-type: lower-alpha;
}

label, input[type="radio"] {
  cursor: pointer;
}

.multi-label {
  padding: 0;
  margin: 0;
  border: 0;
}
form li > *,
.multi-label {
  padding-top:    8px;
  padding-bottom: 8px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.parts > .skip {
  text-decoration: line-through;
  opacity: 0.4;
  pointer-events: none;
  user-select: none;
}


* {
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}